ppbot/cogs/audio/** @aikaterna @PredaaA
/ppbot/cogs/downloader/* @Jackenmen
/ppbot/cogs/streams/* @palmtree5
/ppbot/cogs/mutes/* @TrustyJAID

# Docs - Install and update guides
/docs/install_guides/** @Jackenmen
/docs/update_red.rst @pragntfatmen

# Docs - Version guarantees
/docs/version_guarantees.rst @Jackenmen

# Trivia Lists
/redbot/cogs/trivia/data/lists/whosthatpokemon*.yaml @aikaterna

# Tests
/redbot/pytest/downloader* @Jackenmen
/tests/cogs/downloader/* @Jackenmen

# Schemas
/schema/* @Jackenmen

# CI
/.travis.yml @Kowlin
/crowdin.yml @Kowlin
/.github/workflows/* @Kowlin

# Excludes
**/locales/* @ghost
